<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchStore | Create</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <!--server bizim sorgunu taniyir.Django-da bütün POST sorğuları üçün {% csrf_token %} tələb olunur. Bu token form məlumatlarının təhlükəsizliyini təmin edir və istifadəçilərin form göndərərkən yalnız etibarlı sorğular etdiyini yoxlayır.-->
        {{watch_form.as_p}}
        <!-- as_p metodu Django formunun hər bir sahəsini <p> etiketi içərisində bir blok olaraq göstərir -->
        <input type="submit">
    </form>
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p><br>
    {% endfor %}
    {% endif%}
</body>
</html>